$weightRegular: 400;
$weightSemi: 600;
$weightBold: 700;
$weightExtraBold: 800;
$weightBlack: 900;

@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-Regular.ttf") format("ttf");
  font-weight: $weightRegular;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-SemiBold.ttf") format("ttf");
  font-weight: $weightSemi;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("/fonts/Hind-Bold.ttf") format("ttf");
  font-weight: $weightBold;
  font-style: normal;
}


$primary-font-family: "Hind", Arial, sans-serif;
$Arial: Arial, sans-serif;

$primary-font-family: $primary-font-family;