@import "../../../styles/index.scss";

.menuContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: $mediumDeviceWidth) {
    .menuContainer{
        flex-direction: row;
    }
}